@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allison&family=Bebas+Neue&family=Fenix&family=Fleur+De+Leah&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lavishly+Yours&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: white;
    max-width: 500px;
    margin: 80px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

h1 {
    margin-top: 0;
    text-align: center;
}

p{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
}

button {
    background-color: #f13c1c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color .2s ease;
}

button:hover {
    background-color: #f16828;
}
label{
      font-weight: bold;
}
#total {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}